@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body{

}
#nav{
  background: #002147;
}
#title{
  margin-left: 15px;
  font-family: 'Six Caps', sans-serif;
  margin-top: 0px;
  font-size: 50px;
  color: white;
}
.navbar-toggler {
  padding: 4px;
  border: 1px solid black !important;
  background: white;
}
.navbar-toggler-icon {
  height: 23px;
}
#link{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
#link:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
#link::before {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #000062;
	display: fixed;
	position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 900ms;
}
#link:hover::before{
	width: 74%;
  background-color: rgba(0, 0, 0, 0.2);
}
#drop{
  text-align: center;
  color: white;
}
#drop:hover{
  background-color: #000062;
  color: white;
}
.headings{
  text-align: center;
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px !important;
  background: #00246c;
  color: #febd11;
  padding: 5px;
}
.parg{
  font-size: 1.4rem;
  margin-bottom: 50px;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Domine', serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pic{
  padding: 5px;
}
.qout{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem !important;
}
.footer{
  margin-top: 50px;
  background: #002147;
  color: white;
}
@media (min-width: 0px) and (max-width: 499px){
#icon{
  margin-top: 0px;
  width: 60px;
  height: 60px;
}
#title{
  margin: 0px;
  font-size: 8vw;
}
.headings{
  font-size: 1rem;
}
.parg{
  font-size: 0.8rem;
}
