@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@keyframes rot {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
body{

}
#nav{
  background: #002147;
}
#icon{
  transition: .8s;
  z-index: 3;
  animation: rot 1.5s linear 1;
}
#icon:hover{
  transform: rotate(360deg);
}
#title{
  margin-left: 15px;
  font-family: 'Six Caps', sans-serif;
  margin-top: 0px;
  font-size: 50px;
  color: white;
}
#title:hover{
  color: #febd11;
}
.navbar-toggler {
  padding: 4px;
  border: 1px solid black !important;
  background: white;
}
.navbar-toggler-icon {
  height: 23px;
}
#link{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
#link:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
#link::before {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #000062;
	display: fixed;
	position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 900ms;
}
#link:hover::before{
	width: 74%;
  background-color: rgba(0, 0, 0, 0.2);
}
#drop{
  text-align: center;
  color: white;
}
#drop:hover{
  background-color: #000062;
  color: white;
}
.headings{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px !important;
  background: #00246c;
  color: #febd11;
  padding: 5px;
}
.line{
  font-family: 'Dancing Script', cursive;
}
.parg{
  font-size: 1.2rem;
  margin-bottom: 50px;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Domine', serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.imp{
  font-family: 'Bebas Neue', cursive;
}
.pic{
  padding: 5px;
}
.qout{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem !important;
}
.qout:hover{
  color: #febd11;
}
.footer{
  margin-top: 50px;
  background: #002147;
  color: white;
}
.wig{
	display: flex;
	padding: 0;
}
.wig li{
  padding: 10px;
	list-style: none;
}
.wig li a{
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	margin: 0 3px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 1px black;
	z-index: 1;
}
.wig li a .fa{
	position: relative;
	color: 	#C8C8C8;
	transition: .5s;
	z-index: 3;
  font-size: 20px;
}
.wig li a:hover .fa{
	color: #fff;
	transform: rotateY(360deg);
	font-size: 30px;
}
.wig li:nth-child(2) a:hover .fa{
  color: #F9F6EF;
}
.wig li:nth-child(1) a:hover .fa{
  color: #1DB954;
}
.wig li:nth-child(5) a:hover .fa{
  color: #4267B2;
}
.wig li:nth-child(3) a:hover .fa{
  color: #FF0000;
}
.wig li:nth-child(4) a:hover .fa{
  color: #C13584;
}
.wig li a:before{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: #f00; */
	transition: .5s;
	z-index: 2;
}
h6 .fa{
  padding: 5px;
  font-size: 20px;
  z-index: 3;
  transition: .5s;
}
h6 .fa:hover{
  	transform: rotate(360deg);
}
.contact{
  font-weight: bold;
  background: #e6e6e6;
  color: #B20000;
  border: solid#B20000;
  border-radius: 1cm;
  padding: 10px;
}
.contact:hover{
  text-decoration: none;
  color: #ff0000;
  background: #e0e0e0;
  border: solid#ff0000;
}
@media (min-width: 0px) and (max-width: 499px){
#icon{
  margin-top: 0px;
  width: 60px;
  height: 60px;
}
#title{
  margin: 0px;
  font-size: 8vw;
}
.headings{
  font-size: 1rem;
}
.parg{
  font-size: 0.8rem;
}
